[submodule "ref/adk-samples"]
	path = ref/adk-samples
	url = https://github.com/google/adk-samples
[submodule "ref/a2a-samples"]
	path = ref/a2a-samples
	url = git@github.com:a2aproject/a2a-samples.git
[submodule "ref/instavibe-adk"]
	path = ref/instavibe-adk
	url = git@github.com:weimeilin79/instavibe-adk.git
[submodule "ref/poml"]
	path = ref/poml
	url = git@github.com:microsoft/poml.git
